---
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ site.name }}</title>
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords }}">
{% include head.html %}
</head>

<body>
	{% include header.html %}

	<main class="content">
		<section class="intro">
			<div class="container">
				<h2>About.</h2>
				<p>
					Meet the Oinam family — Amara, Laaija, Shanta, and Brajeshwar.
					We write the silly, sometimes funny, mundane, and our family’s stupid stories at the
					<a class="link-highlight" href="//oinam.blog/">oinam.blog</a>.
				</p>
			</div>
		</section>
		<section class="members">
			<div class="container">
				<h2>Meet the Oinam Family.</h2>
				<ul class="members-list">
					<li>
						<a href="//amara.site/">
							<img src="/assets/images/Amara.jpg" alt="Amara Oinam" />
							<h3 class="member-title">Amara Oinam</h3>
						</a>
					</li>
					<li>
						<a href="//laaija.com/">
							<img src="/assets/images/laaija.jpg" alt="Laaija Oinam" />
							<h3 class="member-title">Laaija Oinam</h3>
						</a>
					</li>
					<li>
						<a href="//shanta.oinam.family/">
							<img src="/assets/images/shanta.jpg" alt="Shanta Huirem" />
							<h3 class="member-title">Shanta Huirem</h3>
						</a>
					</li>
					<li>
						<a href="//brajeshwar.me/">
							<img src="/assets/images/brajeshwar.jpg" alt="Brajeshwar Oinam" />
							<h3 class="member-title">Brajeshwar Oinam</h3>
						</a>
					</li>
				</ul>
			</div>
		</section>
	</main>

{% include footer.html %}

<script src="https://squaresend.com/squaresend.js"></script>

</body>
</html>