---
---
<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ site.name }} as Tenants</title>
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ site.description }}">
<meta name="keywords" content="{{ site.keywords }}">
{% include head.html %}
</head>
<body>

<main class="content">
	<section class="intro">
		<div class="container">
			<h1>Oinam Family as your Tenant</h1>

			<h2>Why you should have <a class="link-highlight" href="//oinam.family/">our family</a> as your Tenant?</h2>
			<p>
				We’re a family who loves to clean, and stay in a clean place. We’re known to leave the house better than we found it. Our previous landlords usually hates the idea of us leaving.
			</p>

			<hr>
			
			<h2>We Care</h2>
			<p>
				We will take care of everything for your home. We will make sure that everything is done for the benefit of your home.
			</p>

			<hr>

			<h2>Owner, Landlord, and LandLady References</h2>
			<p>Owners of our previous homes are very happy with us. If you so wish, they can be contacted for references and questions you might have.</p>

		</div>
	</section>
</main>

{% include footer.html %}
</body>
</html>